@import '/src/assets/styles/base/variables';

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .box{
    display: flex;
    flex-direction: column;
    width: 500px;

    @media (max-width: 600px) {
      width: 100%;
      padding: 32px;
    }

    .header{
      font-size: 60px;
      font-weight: 700;
      align-self: center;
      letter-spacing: -0.1em;
      margin-bottom: 14px;

      @media (max-width: 600px) {
        font-size: 40px;
      }
    }

    .connectWallet{
      background: $white;
      color: $black;
      padding: 8px 18px;
      font-weight: 600;
      font-size: 14px;
      align-self: center;
      width: fit-content;
    }

    .mint{
      .top{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 600px) {
          flex-direction: column;
        }

        .left{
          @media (max-width: 600px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 24px;
          }
          p{
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 4px;

            &:last-child{
              font-weight: 300;
              font-size: 12px;
              position: relative;
              color: #ffffff80;

              &::before{
                content: '';
                display: inline-block;
                width: 15px;
                vertical-align: middle;
                height: 15px;
                margin-right: 4px;
                -moz-border-radius: 7.5px;
                -webkit-border-radius: 7.5px;
                border-radius: 7.5px;
                background-color: #22c55e;
              }
            }
          }
          .wrong {
            &:last-child {
              &::before {
                background-color: #ef4444;
              }
            }
          }
        }

        .disWallet{
          background: $white;
          color: $black;
          padding: 8px 18px;
          font-weight: 600;
          font-size: 14px;
        }
      }

      .mintWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 52px;

        .counter{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          width: fit-content;
          margin-bottom: 16px;

          button{
            background: $white;
            color: $black;
            padding: 8px 18px;
            font-weight: 600;
            font-size: 14px;
            width: 40px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          input{
            width: 80px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $white;
            text-align: center;
          }
        }

        button{
          &:disabled{
            opacity: 0.5;
            pointer-events: none;
          }
        }
      }
    }
  }
}